*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
<<<<<<< HEAD
#header img{
    width: 2rem;
}
#nav-bar{
=======

#navb-ar  {
>>>>>>> d70bc06bee6c3180ceb15d6a47dbd2db3f1b1f58
    position: fixed;
    display: flex;
    justify-content: flex-end;
    background-color: #be3144;
    top:0;
    left:0;
    width: 100%;
} 

  #nav-bar a {
   
    float: right;
    color: #d62121;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;  
    margin-right: 40px;  
} 

@media only screen and (max-width: 1200px){
    body {
        margin: 0px;
    }
}
